%li{id: dom_id(variant)}
  = form_for(variant, url: admin_product_stock_path(@product, variant), data: {controller: "autosave admin--products--stocks--item", modify_url: modify_admin_product_stock_path(@product, variant)}) do |f|
    .grid.grid-cols-5
      .py-4.px-5
        - if f.object.is_master
          .tag-primary
            master
        - else
          .text-sm
            = variant.option_pair
      .py-4.px-5
        - if f.object.is_master
          .tag-primary
            master
        - else
          = f.text_field :sku, id: dom_id(variant, "sku"), class: "input-table", data: {"action": "change->autosave#save"}
      .py-4.px-5
        - if f.object.is_master
          .tag-primary
            master
        - else
          .space-y-1{data: {controller: "admin--products--track"}}
            .flex.gap-1.items-center
              = f.check_box :trackable, id: dom_id(variant, "trackable"), class: "checkbox-primary", data: {action: "admin--products--track#trackableToggle autosave#save"}
              = f.label :trackable
            .flex.gap-1.items-center{data: {action: "autosave#save", "admin--products--track-target": "backorderable"}, class: ("hidden" if !f.object.trackable)}
              = f.check_box :backorderable, id: dom_id(variant, "backorderable"), data: {action: 'autosave#save'}, class: "checkbox-primary"
              = f.label :backorderable
      = render "item_count_on_hand", form: f
      = render "modify_stock", variant:
