.margin-max-screen.py-7.flex.flex-col.gap-5
  = render "admin/products/tabs"
  .text-gray-500
    = @product.name
  .bg-white.rounded-sm
    %ul.form-table-head.grid.grid-cols-5
      %li
        = t("variants.table.thead.option_values")
      %li
        = t("variants.table.thead.sku")
      %li
        = t("variants.table.thead.track")
      %li
        = t("variants.table.thead.count_on_hand")
      %li
        = t("variants.table.thead.modify")
    %ul.form-table-body
      - if @variants.present?
        - @variants.each do |variant|                   
          = render "item", variant:
