.flex.flex-col.gap-4.py-1.w-full
  .flex.flex-col.gap-4.w-full
    = render SectionLabelComponent.new label: label
    .flex.w-full.justify-between
      %h2.sm:text-2xl.font-bold.text-lg
        = title
      - if action_link.present?
        = link_to action_link, class: "rounded-md px-2 sm:px-4 h-fit text-primary font-medium sm:py-2 py-1 bg-primary/10 text-sm sm:text-base" do
          %span.text-wrap
            = action_text
          = icon("fa-solid", "arrow-right")
  .w-full
    = content
