.margin-max-screen.py-7.flex.flex-col.gap-5
  = render "admin/products/tabs"
  .flex.gap-5.justify-between.items-start
    .text-gray-500
      = @product.name
    - if @product.has_variant
      = link_to new_admin_product_variant_path(@product), class: "btn-plain flex gap-2.5 items-center" do
        = t("variants.new")
        = icon("fa-solid", "plus")
  .bg-white.rounded-sm
    %ul.form-table-head.grid.grid-cols-4
      %li.flex.items-center.pl-6
        = icon "fa-solid", "up-down", class: "ml-0.5 mr-6 text-lg text-zinc-400"
        = t("variants.table.thead.option")
      %li
        = t("variants.table.thead.price")
      %li
        = t("variants.table.thead.cost")
      %li
        = t("variants.table.thead.actions")
    %ul.form-table-body{data: {controller: "sortable",
    "sortable-resource-name-value": "variant",
    "sortable-handle-value": ".handle" }}               
      - if @variants.present?
        - @variants.each do |variant|                   
          = render "item", variant:
      - else
        %li.flex.justify-center.w-full.py-6.text-gray-400 
          = t("variants.no_list_found")

