.flex.gap-3
  - if can?(:ship, @order)
    = button_to ship_admin_order_path(@order), method: :post, class: "btn-primary flex gap-2 items-center", data: { turbo_confirm: "Proceed to prepare (to ship) status?"} do
      = icon("fa-solid", "cart-flatbed")
      Prepare Order (To ship)
  - if can?(:complete, @order)
    = button_to complete_admin_order_path(@order), method: :post, class: "btn-primary flex gap-2 items-center", data: { turbo_confirm: "Proceed to complete status?"} do
      = icon("fa-solid", "check")
      Complete Order
  - if can?(:destroy, @order)
    = button_to admin_order_path(@order, redirect: true), method: :delete, class: "bg-red-600/5 rounded-sm text-red-600 border border-red-600 px-8 py-2.5 text-sm flex gap-2 items-center font-medium", data: {turbo_confirm: "Are you sure to remove order?"} do
      = icon("fa-solid", "trash")
      Remove Order
  - if can?(:cancel, @order)
    = button_to cancel_admin_order_path(@order), method: :delete, class: "bg-red-600 px-6 py-2.5 text-white flex gap-2 items-center rounded-sm", data: { turbo_confirm: "Are you sure to cancel order?"} do
      = icon("fa-solid", "xmark")
      Cancel order
