%tr{id: dom_id(order)}
  %td
    .flex.gap-2.items-center
      - if order.guest_session_id.present?
        .tag-guest
          guest
      - elsif order.guest_session_id.blank? && order.user_id.blank?
        .tag-primary
          custom
      - if order.customer_name.present?
        = order.customer_name
  %td
    .lowercase{class: "#{order.status}-status"}
      = order.status.humanize
  %td
    = render PriceRangeComponent.new lowest: order.total, currency: MoneyRails.default_currency.id.to_s
  %td
    - if order.placed_at.present? 
      %time{data: {"controller": "timeago", timeago: { "datetime-value": order.placed_at, "add-suffix-value": true, "refresh-interval-value": 60000}}} 
        = "#{time_ago_in_words(order.placed_at)} ago"
    - else
      .text-red-600
        Not yet placed
  %td
    %time{data: {"controller": "timeago", timeago: { "datetime-value": order.created_at, "add-suffix-value": true, "refresh-interval-value": 60000}}} 
      = "#{time_ago_in_words(order.created_at)} ago"
  %td
    .flex.gap-3.text-gray-400.items-center
      = link_to admin_order_path(order), class: "hover:text-primary transition-colors" do
        = icon("fa-solid", "edit")
      - if can?(:destroy, order)
        = button_to admin_order_path(order), method: :delete, class: "hover:text-red-600", data: { turbo_confirm: "Are you sure?" } do
          = icon("fa-solid", "trash")
