.flex.text-sm.gap-1.font-medium.text-center.border-b-2.border-gray-200
  = link_to admin_orders_path, class: "w-fit tab #{params[:status].nil? ? "active" : ""}" do
    = t("orders.tabs.all")
  = link_to admin_orders_path(status: :pending), class: "w-fit tab #{"active" if params[:status] == "pending"}" do
    = t("orders.tabs.pending")
  = link_to admin_orders_path(status: :to_ship), class: "w-fit tab #{"active" if params[:status] == "to_ship"}" do
    = t("orders.tabs.to_ship")
  = link_to admin_orders_path(status: :to_recieve), class: "w-fit tab #{"active" if params[:status] == "to_recieve"}" do
    = t("orders.tabs.to_recieve")
  = link_to admin_orders_path(status: :completed), class: "w-fit tab #{"active" if params[:status] == "completed"}" do
    = t("orders.tabs.completed")
  = link_to admin_orders_path(status: :cancelled), class: "w-fit tab #{"active" if params[:status] == "cancelled"}" do
    = t("orders.tabs.cancelled")
  = link_to admin_orders_path(status: [:returned, :refunded]), class: "w-fit tab #{"active" if params[:status]&.include?("returned") || params[:status]&.include?("refunded")}"do
    = t("orders.tabs.returned")
    = "/"
    = t("orders.tabs.refunded")
