.margin-max-screen.py-7.grid.gap-5
  .flex.gap-2.items-center
    = link_to admin_orders_path, class: "px-2 py-1 hover:bg-gray-200 rounded-md" do
      = icon("fa-solid", "arrow-left")
    %h2.font-semibold.text-xl
      = "Order - #{@order.id}"
    .lowercase{class: "#{@order.order_status.name}-status"}
      = @order.order_status.name.humanize
      - if @order.guest_session_id.present?
        .tag-guest guest
  .grid.gap-4
    = render "action_buttons"
    = render "recieve_form"
    = render "order_items"
    = render "shipping_details"
    = render "payment_method"
    = render "logistic_details_form"
    = render "internal_note"
    = render "return_form"
    = render "refund_form"
