.order-item.border.border-gray-300.rounded-sm.divide-y.shadow-sm.bg-white{id: dom_id(order, ("all" if params[:status].blank?))}
  .px-5.divide-y
    .flex.gap-3.justify-between.py-3
      .text-sm.uppercase
        - if order.placed_at.present?
          .text-gray-500.sm:text-base
            Order placed
            %time{data: {"controller": "timeago", timeago: { "datetime-value": order.placed_at, "add-suffix-value": true, "refresh-interval-value": 60000}}} 
              = "#{time_ago_in_words(order.placed_at)} ago"
        - else
          .text-red-600
            Order not yet placed
      .divide-x.divide-gray-400.flex.h-fit.w-fit
        - if order.guest_session_id.present?
          .pr-2{data: {controller: "popover"}}
            .relative.cursor-help{data: {action: "mouseenter->popover#show mouseleave->popover#hide"}}
              .tag-guest
                Guest
            %template{data: {"popover-target": "content"}}
              .w-60.py-2.px-3.text-sm.text-gray-600.rounded-sm.shadow.mt-2.border.bg-white.z-10.transition-transform.absolute.right-0{data: {"popover-target": "card"}}
                This is a guest order saved in this browser.
                - if can?(:sync, order)
                  Sync
                  = icon("fa-solid", "arrows-rotate", class: "text-gray-700")
                  this item to own the order.
        .uppercase.text-primary.text-sm.font-medium.pl-2
          = order.order_status.name.humanize
    .divide-y
      - order.order_items.each do |order_item|
        = render "order_item", order_item:
  .px-5.py-4.flex.sm:justify-between.sm:flex-row.flex-col.sm:gap-5.gap-3
    .block
      - if order.placed_at.blank?
        .text-sm.text-gray-500
          Non-placed orders will be removed within 12 hours
    .grid.sm:gap-4.gap-3
      .flex.items-center.gap-2.sm:justify-end
        .text-sm
          Order Total:
        .text-primary.sm:text-xl.text-lg
          = price_with_currency(order.total, currency_symbol(MoneyRails.default_currency.id.to_s))
      .flex.sm:justify-end.gap-3
        - if can?(:cancel, order)
          = button_to "Cancel Order", cancel_order_path(order), method: :delete, class: "bg-red-600 sm:px-9 px-5 py-2.5 text-sm font-medium text-white flex gap-2 items-center rounded-sm disabled:bg-gray-400 disabled:cursor-not-allowed", data: { turbo_confirm: "Are you sure to cancel order?"}
        - if can?(:shipping_details, order) && can?(:payment_method, order)
          = link_to "Resume Checkout", checkout_path(id: order.id), class: "text-primary sm:px-9 px-5 py-2.5 text-sm font-medium bg-primary/5 ring-1 ring-primary rounded-sm"
        - if can?(:sync, order)
          = button_to sync_order_path(order), method: :post, class: "flex gap-2 items-center sm:px-9 px-5 border border-gray-400 text-gray-800 text-sm rounded-sm py-2.5 hover:underline", data: { turbo_confirm: "Are you sure to cancel order?"} do
            = icon("fa-solid", "arrows-rotate")
            Sync Order
        - if can?(:read, order)
          = link_to "Order Details", order_path(order, from: params[:status]), class: "sm:px-9 px-5 border border-gray-400 text-gray-800 text-sm rounded-sm py-2.5 hover:underline"
