%ul.text-base.border-b-2.border-gray-200.sm:grid.grid-cols-7.hidden
  %li
    = render TabLinkComponent.new path: orders_path(page: params[:page]) do
      = t("orders.tabs.all")
  %li
    = render TabLinkComponent.new path: orders_path(status: :pending, page: params[:page]) do
      = t("orders.tabs.pending")
  %li
    = render TabLinkComponent.new path: orders_path(status: :to_ship, page: params[:page]) do
      = t("orders.tabs.to_ship")
  %li
    = render TabLinkComponent.new path: orders_path(status: :to_recieve, page: params[:page]) do
      = t("orders.tabs.to_recieve")
  %li
    = render TabLinkComponent.new path: orders_path(status: :completed, page: params[:page]) do
      = t("orders.tabs.completed")
  %li
    = render TabLinkComponent.new path: orders_path(status: :cancelled, page: params[:page]) do 
      = t("orders.tabs.cancelled")
  %li
    = render TabLinkComponent.new path: orders_path(status: [:returned, :refunded], page: params[:page]) do 
      = t("orders.tabs.return_refund")
