- variant_exist = order_item.variant.present?
- product_id = (variant_exist ? order_item.variant.product.id : order_item.variant_capture["product_id"])
- product_name = (variant_exist ? order_item.variant.product.name : order_item.variant_capture["product_name"])
- is_master = (variant_exist ? order_item.variant.is_master : order_item.variant_capture["variant_master"])
- option_value_name = (variant_exist ? order_item.variant.option_pair : order_item.variant_capture["variant_name"])

= link_to product_path(id: product_id), class: "flex gap-3 py-2 w-full" do
  = image_tag variant_exist && order_item.variant.product.thumbnail&.attached? ? order_item.variant.product.thumbnail.variant(:small) : "thumbnail.png", class: "rounded-sm object-cover object-center w-20 h-20 min-h-20 min-w-20 border", size: 100
  .flex.flex-col.w-full
    .block
      = product_name
    .flex.justify-between.gap-3.text-sm.w-full
      .block
        - unless is_master
          .justify-between.gap-3.text-gray-500
            = option_value_name
        %span
          = "x#{order_item.qty}"
      .block
        = render PriceRangeComponent.new lowest: (order_item.price * order_item.qty), discount: order_item.discount_percent
