.margin-max-screen.py-7
  .flex.flex-col.gap-6
    .flex.gap-5.justify-between.items-start
      %h2.font-semibold.text-xl
        = t("users.title")
      -# = button_to new_admin_product_path, class: "btn-primary flex gap-2.5 items-center", method: :get do
      -#   = t("products.new")
      -#   = icon("fa-solid", "plus")
    .grid.gap-3
      %table
        %thead
          %tr
            %th= t("users.table.thead.name")
            %th= t("users.table.thead.phone_no")
            %th= t("users.table.thead.email")
            %th= t("users.table.thead.role")
            %th= t("users.table.thead.provider")
            %th= t("users.table.thead.actions")
        %tbody
          - if @users.present?
            - @users.each do |user|
              = render "item", user:
          - else
            %tr
              %td{colspan: 5}= t("users.no_list_found")
      - if @pagy.pages > 1          
        .flex.gap-3.items-center.w-full.justify-between
          != pagy_nav(@pagy)
          != pagy_info(@pagy)
