.grid{data: {controller: "products--carousel"}, class: "md:min-w-[460px] md:max-w-[460px] h-fit gap-2"} 
  - if @carousel.present?
    .w-full.relative{class: "sm:h-[480px] md:h-[420px] h-[390px] sm:max-h-[480px] md:max-h-[420px] max-h-[390px]"}
      - @carousel.each_with_index do |image, index|
        = image_tag image, size: 420, alt: "VariantImage", data: {"products--carousel-target": "main", position: index + 1}, class: class_names("w-full h-full object-center object-cover absolute top-0", hidden: index >= 1)
    .grid.grid-cols-5.relative{data: {"products--carousel-target": "items", total_items: @carousel.size, left_most: 1, right_most: 5, max: 5}, class: "sm:gap-2.5 gap-1"}
      - @carousel.each_with_index do |image, index|
        %label{class: class_names(hidden: index >= 5)}
          = radio_button_tag :thumb, index, index.zero?, id: "thumb_#{index}", data: {"products--carousel-target": "thumb", action: "input->products--carousel#thumbSelect", position: index + 1}, class: "peer hidden"
          .w-full.peer-checked:outline.outline-2.outline-primary.-outline-offset-2.border{class: "h-[70px] sm:h-32 md:h-20", for: "thumb_#{index}"}
            = image_tag image.variant(:thumb), size: 100, data: {action: "mouseover->products--carousel#hoverInItem mouseout->products--carousel#hoverOutItem", position: index + 1}, class: "w-full h-full"
      - if @carousel.size > 5
        %button.py-3.px-1.absolute.items-center{data: {"products--carousel-target": "prev", action: "click->products--carousel#prevItem"}, class: "top-[22%] bg-black/20 [not:(:disabled)]:hover:bg-black/60 transition-colors disabled:hidden", disabled: true}
          = icon("fa-solid", "angle-left", class: "text-xl text-white")
        %button.py-3.px-1.absolute.items-center{data: {"products--carousel-target": "next", action: "click->products--carousel#nextItem"}, class: "top-[22%] right-0 bg-black/20 [not:(:disabled)]:hover:bg-black/60 transition-colors disabled:hidden"}
          = icon("fa-solid", "angle-right", class: "text-xl text-white")
