#quantity-container
  #quantity
    = button_tag type: :button, class: "decrement", data: {action: "click->products--public#decrement"} do
      = icon("fa-solid", "minus")
    = number_field_tag 'cart[qty]', 1, class: "number-input", min: 1, data: {"products--public-target": "quantity", action: "input->products--public#quantityInput change->products--public#quantityChange keydown.enter->products--public#quantityOnEnter"}
    = button_tag type: :button, class: "increment", data: {action: "products--public#increment"} do
      = icon("fa-solid", "plus")
  #stocks{class: class_names(hidden: hide), data: {"products--public-target": "stocks"}}
    = render StockCountComponent.new count: variant.count_on_hand, sale: sale?(variant)
