- if (seo = @product.seo).present?
  - title seo.meta_title
  - description seo.meta_description
  - keywords seo.meta_keywords

.mx-auto.max-w-margin.md:px-4.lg:px-8.w-full.py-0.md:py-2{class: "px-1.5", data: {controller: "products--public", pid: @product.id}}
  = check_box_tag 'user_signed_in', 'signed_id', user_signed_in?, disabled: true, class: "hidden", data: {"products--public-target": "userSignedIn"}
  .relative.flex.sm:gap-8.gap-3.bg-white.sm:pt-3.sm:pb-9.pb-5.rounded-sm.md:flex-row.flex-col
    = render "image_carousel"
    .flex.flex-col.w-full.sm:gap-7.gap-4
      .grid.gap-2
        %h2.font-semibold.text-2xl.text-xl
          = @product.name
        -# = render "star_reviews" 
        #public-price{data: {"products--public-target": "price"}}
          = render PriceRangeComponent.new lowest: @product.lowest_price, highest: @product.highest_price, discount: @product.discount_percent
      - if @product.has_variant
        = render "options"
      = form_with url: buy_now_variant_path(uuid: ":uuid"), class: "grid gap-6 w-full", data: {"products--public-target": "buyNowForm"} do |form|
        .grid.gap-2
          .font-medium.text-sm.text-zinc-500
            Quantity
          = render "quantity", variant: @product.master_variant, hide: @product.has_variant
        = render "errors"
        = render "actions", bnDisabled: true, adDisabled: true
        = render "variant_uuid", uuid: pub_variant_uuid(@product)
      #product-description
        = @product.description
