- if (seo = @product.seo).present?
  - title seo.meta_title
  - description seo.meta_description
  - keywords seo.meta_keywords

.w-full.margin-max-screen.py-5{data: {controller: "products--public", pid: @product.id}}
  = check_box_tag 'user_signed_in', 'signed_id', user_signed_in?, class: "hidden", data: {"products--public-target": "userSignedIn"}
  .flex.gap-8.bg-white.pt-3.pb-9.rounded-sm{class: "px-3.5"}
    = render "image_carousel"
    .flex.flex-col.w-full.gap-7
      .grid.gap-2
        %h2.font-semibold.text-2xl
          = @product.name
        -# = render "star_reviews" 
        #public-price{data: {"products--public-target": "price"}}
          = render PriceRangeComponent.new lowest: @product.lowest_price, highest: @product.highest_price, discount: @product.discount_percent
      - if @product.has_variant
        = render "options"
      = form_with url: buy_now_variant_path(uuid: ":uuid"), class: "grid gap-6 w-full", data: {"products--public-target": "buyNowForm"} do |form|
        .grid.gap-2
          .font-medium.text-sm.text-zinc-500
            Quantity
          = render "quantity", variant: @product.master_variant, hide: @product.has_variant
        = render "errors"
        = render "actions", bnDisabled: true, adDisabled: true
        = render "variant_uuid", uuid: pub_variant_uuid(@product)
      #product-description
        = @product.description
