.w-full.border-b.flex.items-center.min-h-20.h-20.bg-white.sticky.top-0.z-10
  .margin-max-screen.w-full.flex.justify-between.items-center
    .flex.gap-3.items-center
      = link_to t("brand.shop"), root_path, class: "text-2xl font-extrabold"
      .ml-24
        %ul.sm:flex.gap-8.font-medium.hidden
          %li
            = link_to t("storefront.header.home.title"), root_path, class: "decoration-2 underline-offset-4 hover:underline"
          %li
            = link_to t("storefront.header.products.title"), products_path, class: "decoration-2 underline-offset-4 hover:underline"
    .flex.gap-5
      = link_to carts_path, class: "relative" do
        = icon("fa-solid", "cart-shopping", class: "text-xl")
        = render "layouts/cart_count_frame", count: cookies.signed[:cart_count] || 0
      %div{data: {controller: "dropdown"}, class: "relative"}
        %button{type: "button", data: {action: "dropdown#toggle click@window->dropdown#hide"}}
          = icon("fa-regular", "user", class: "text-xl")
        .point.z-10.mt-3.hidden.transition.transform.origin-top-right.absolute.-right-2.bg-white.rounded-sm.border.shadow-lg.shadow-gray-200.w-40{class: "-right-3.5 before:right-3", data: {"dropdown-target": "menu", "transition-enter-from": "opacity-0 scale-95", "transition-enter-to": "opacity-100 scale-100", "transition-leave-from": "opacity-100 scale-100", "transition-leave-to": "opacity-0 scale-95"}}
          = link_to t("storefront.header.user_icon.dropdown.account"), account_path, class: "py-1.5 hover:bg-primary/5 hover:text-primary px-6 w-full text-nowrap flex"
          = link_to t("storefront.header.user_icon.dropdown.orders"), orders_path, class: "py-1.5 hover:bg-primary/5 hover:text-primary px-6 w-full text-nowrap flex"
          - if user_signed_in?
            = button_to t("storefront.header.user_icon.dropdown.logout"), destroy_user_session_path, method: :delete, class: "py-1.5 hover:bg-primary/5 hover:text-primary px-6 w-full text-nowrap text-start"
      - if current_user&.admin?
        = link_to admin_path do
          = icon("fa-solid", "user-tie", class: "text-xl")
