!!!
%html{lang:"en"}
  %head
    = render "layouts/head"
    = display_meta_tags site: t("brand.shop")
  %body.flex.flex-col.min-h-screen
    = render FlashComponent.new
    = render "layouts/navbar"
    %main.flex-1.flex
      = yield
    = render "layouts/footer"
