- title "Account"
- description "My Account"
- keywords "profile, account, auth"

= render Account::LayoutComponent.new do
  .block
    - if user_signed_in?
      .flex.gap-1.flex-col
        %span
          - if current_user.name.present?
            = current_user.name
          = "(#{current_user.phone_no.gsub(/\d(?=\d{3})/, '*') || current_user.email.gsub(/(?<=.{2}).(?=[^@]*?.{3}@)/, '*')})"
        %span
          = "Joined #{time_ago_in_words(current_user.created_at)} ago"
    - else
      .flex.gap-2.items-center
        = icon("fa-solid", "user", class: "w-4")
        %span
          Currently as Guest
